<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Analytics</title>
</head>
<body>
    <header>
        <a href="/" class="logo">Rock <span style="color: #1ED760;">Spoti</span>-Stats</a>
        <div>
            <a href="/">Main</a>
            <a href="form">Feedback</a>
            <a href="analytics">Analytics</a>
            <a href="graphs">Graphs</a>
            <a href="report">Report</a>
        </div>
    </header>
    <main class="padding10">
        <h1>Analytics</h1>
        <p>It's analytics based on users feedbacks</p>
        <div id="graph"></div>
    
        <div class="feedbackAndSuggestions">
            <div id="yourFeedback" class="yourFeedback">
                <h1>Your feedback</h1>
                <p>Genre: <span id="yourGenre"></span></p>
                <p>Rate: <span id="yourRate"></span></p>
                <p>Age: <span id="yourAge"></span></p>
                <p>Tags: <span id="yourTags"></span></p>
            </div>
            <div class="suggestions">
                <h1>Suggestions for you</h1>
                <p>{{ text }}</p>
            </div>
        </div>
        <div class="musicSuggestions">
    
            {% if hasData %}
                    
                {% for i in dbHead %}
                    
                <div class="suggestionCard">
                    <img src="{{i.image_url}}" alt="">
                    <div>
                        <h2>Name: {{i.track_name}}</h2>
                        <p>Artist: {{i.artists}}</p>
                        <p>Album: {{i.album_name}}</p>
                        <p>Duration: {{i.duration_mm_ss}}</p>
                        <p>Release date: {{i.release_date}}</p>
                        <a href="{{i.spotify_url}}">link on spotify</a>
                    </div>
                </div>
                    
                {% endfor %}
            {% endif %}
    
        </div>

    </main>

</body>

<script type="module">

    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.2.0/firebase-app.js";

    // Your web app's Firebase configuration
    const firebaseConfig = {

    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);

    import { getDatabase, ref, get, child } from "https://www.gstatic.com/firebasejs/11.2.0/firebase-database.js";
    const db = getDatabase();

    let dynamicGenresRatesMap = new Map();
    let dynamicMeanMap = new Map();

    const genres = ["alt-rock", "alternative","black-metal", "death-metal", "emo", "funk", "garage", "goth", "grindcore", "groove", "grunge", "hard-rock", "heavy-metal", "industrial", "j-rock", "metal", "metalcore", "psych-rock", "punk", "punk-rock", "rock", "rock-n-roll"]
    
    for (let i = 0; i < genres.length; i++) {
        dynamicGenresRatesMap.set(`${genres[i]}Under`, []);
        dynamicGenresRatesMap.set(`${genres[i]}Above`, []);
    }

    const Under18 = []
    const ForGraphGenre = []
    const Above18 = []

    async function plotBarGraph(x, y1, y2) {        
        let trace1 = {
          x: await x,
          y: await y1,
          name: 'Under 18',
          type: 'bar'
        };
        let trace2 = {
          x: await x,
          y: await y2,
          name: 'Above 18',
          type: 'bar'
        };

        let data = [trace1, trace2];
        let layout = {
            title:{
                text:"Genre rates by users"
            },
            barmode: 'group'
        };
        Plotly.newPlot('graph', data, layout);
    }

    function GetAllData(){
        get(child(ref(db), 'feedbacks'))
        .then((snapshot) => {
            snapshot.forEach((childSnapshot) => {
                let ageText = "Under"
                if (childSnapshot.val()["age"] == true) {
                    ageText = "Above"
                } 
                dynamicGenresRatesMap.get(childSnapshot.val()["genre"] + ageText).push(childSnapshot.val()["rate"]);
            });
            dynamicGenresRatesMap.forEach((value, key) => {
                dynamicMeanMap.set(key, value.reduce((a, b) => a + b, 0) / value.length);
            });
            dynamicMeanMap.forEach((value, key) => {
                if (!ForGraphGenre.includes(key.slice(0, -5))){
                    ForGraphGenre.push(key.slice(0, -5))
                }
                if (`${value}` != "NaN"){
                    if (key.includes("Under")) {
                        Under18.push(value)
                    } else {
                        Above18.push(value)
                    }
                } else{
                    if (key.includes("Under")) {
                        Under18.push(0)
                    } else {
                        Above18.push(0)
                    }
                }
            });
            plotBarGraph(ForGraphGenre, Under18, Above18); 
        })
        .catch((error) => {
            alert('Error occured: ' + error);
        });
    }

    let yourFeedback
    async function GetYourFeedback(token){
        get(child(ref(db), 'feedbacks/' + await token))
        .then((snapshot) => {
            if (snapshot.exists()) {

                console.log(snapshot.val());
                yourFeedback = snapshot.val();
                console.log(yourFeedback);
                document.getElementById("yourGenre").innerHTML = yourFeedback["genre"]
                document.getElementById("yourRate").innerHTML = yourFeedback["rate"]
                document.getElementById("yourAge").innerHTML = yourFeedback["age"] ? "Above 18" : "Under 18"
                document.getElementById("yourTags").innerHTML = yourFeedback["tags"]
            } else {
                console.log("No data available");
                console.log(document.getElementById("yourGenre"))
                document.getElementById("yourFeedback").remove()
            }
        })
        .catch((error) => {
            alert('Error occured: ' + error);
        });
    }

    GetYourFeedback(localStorage.getItem('token'))
    window.onload = GetAllData();
    
    // document.getElementById("yourFeedback").innerHTML = document.cookie.split(';')[1].split('=')[1]
    // document.cookie.split(';')[1].split('=')[1]

</script>

</html>