<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//jquerycsvtotable.googlecode.com/files/jquery.csvToTable.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Main</title>
</head>
<body>
    <header>
        <a href="/" class="logo">Rock <span style="color: #1ED760;">Spoti</span>-Stats</a>
        <div>
            <a href="/">Main</a>
            <a href="form">Feedback</a>
            <a href="analytics">Analytics</a>
            <a href="graphs">Graphs</a>
            <a href="report">Report</a>
        </div>
    </header>
    <main>
        <div class="letsRock">
            <h1>LETS <span>ROCK</span></h1>
        </div>
        
        <section>
            <article class="left">
                <h2>What the Rock Is?</h2>
                <p>Rock music is more than just a genre; it's a cultural phenomenon that has shaped decades of artistic expression and personal identity. Emerging in the mid-20th century, rock is characterized by powerful guitar riffs, driving rhythms, and emotive lyrics. </p>
                <p>Over the years, rock has expanded into a multitude of subgenres, each offering something unique. From the raw energy of punk rock to the intricate artistry of progressive rock, the heavy riffs of metal to the soulful vibes of blues rock, and the experimental sounds of alternative rock to the catchy hooks of pop rock, there's a flavor of rock for everyone. This diversity is what keeps the genre alive and thriving, continuing to inspire and resonate with fans around the world.</p>
            </article>
            <img src="static/rock_music.jpg" alt="">
        </section>
        
        <div class="helpDiv">
            <h1>How My Website May Help Others</h1>
            <div>
                <div class="helpCard">
                    <div class="helpCardTitle">
                        <h2>Help New Rock Fans</h2>
                    </div>
                    <p>It introduces them to rock’s diverse subgenres and helps them explore curated playlists and key information.</p>
                </div>    
                <div class="helpCard">
                    <div class="helpCardTitle">
                        <h2>Main Purpose</h2>
                    </div>
                    <p>To educate, entertain, and unite rock music enthusiasts by providing resources, playlists, and analytics-driven insights.</p>
                </div>   
                <div class="helpCard">
                    <div class="helpCardTitle">
                        <h2>Spotify analytics</h2>
                    </div>
                    <p>By analyzing Spotify data, the website provides insights into rock's current popularity, evolving trends, and listener demographics.</p>
                </div>               
            </div>
        </div>

        <section >
            <img src="static/spotifyWhy.png" alt="">
            <article class="right">
                <h2>Why I Have Chosen the Spotify Dataset for Analytics</h2>
                <p>Spotify’s dataset offers a wealth of detailed and up-to-date information on music trends, artist popularity, and listener preferences. By leveraging this data, we can analyze rock music's current standing in the digital age and uncover patterns in how fans interact with the genre. This dataset is particularly valuable because it reflects real-world listening habits, making it an ideal resource for understanding rock’s reach, growth, and evolution in today's streaming era.</p>
            </article>
        </section>
    
    </main>
</body>
</html>